<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Aurobindo Gupta" />
    <meta
      name="description"
      content="Component library content - Text Utils "
    />
    <link rel="stylesheet" href="/rootStyles.css" />
    <link rel="stylesheet" href="textutils.css" />
    <title>Text Utils</title>
  </head>
  <body>
    <div class="componentTextUtils pd-1 mg-1">
      <p>This is Standard text</p>
      <p class="text-strike">This is Strike through text</p>
      <p class="text-grey">This is Grey text</p>
      <p class="text-align-centre">This is centre alined text</p>
      <p class="text-bold">This is Bold text</p>
      <p class="text-small">This is small text</p>
      <p class="text-h1">This is Heading 1 text</p>
      <p class="text-h2">This is Heading 2 text</p>
      <p class="text-h3">This is Heading 3 text</p>
      <p class="text-h4">This is Heading 4 text</p>
      <p class="text-h5">This is Heading 5 text</p>
    </div>
  </body>
</html>
