

.grid1{
    display: flex;
    width: 100%;
}
.grid2{
    display: flex;
    width: 100%;
}
.grid1-1, .grid1-2, .grid2-1, .grid2-2, .grid2-3{
    padding: 0.5rem;
    flex-grow: 1;
    border: 1px solid black;
}
