@import url(Utils/utils.css);
::-webkit-scrollbar {
  display: none;
}
.baseContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: auto;
  height: 100%;
  padding: 0.2rem;
  background-color: var(--background-color);
}
.navBar {
  display: flex;
  background: var(--navbar-color);
  justify-content: space-between;
  /* border: 0.1rem solid black; */
  border-radius: 0.5rem;
  box-shadow: 2px 2px 2px 1px grey;
  flex: 0 0 auto;
}
.navLinksBtn.if-active {
  background: var(--themeBright-color);
  font-size: 1.5rem;
  border-radius: 0.5rem;
  border: 0.1rem solid black;
  pointer-events: none;
}
.navLinksBtn:hover {
  background-color: var(--themeBright-hover-color);
  font-size: 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
.heroContainer {
  display: flex;
  align-items: flex-end;
}
.heroTitle {
  font-family: var(--heroTitle-font);
  height: 2.6rem;
  width: auto;
  font-size: 2.5rem;
}
.navbarHeroImg {
  max-width: 5rem;
  border-radius: 0.5rem;
}
.navbarHeroImg:hover {
  transition: 0.7s;
  /* -webkit-transform: rotate(180deg); */
  transform: rotate(360deg);
  cursor: pointer;
}
.navLinks {
  display: flex;
  align-items: center;
  list-style-type: none;
}
.navLinksBtn {
  padding: 1rem;
}
.pageContent {
  padding: 1rem;
  display: flex;
  height: 80%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 0 auto;
}
.landingPageContent_images {
  display: flex;
}
.landingPage_Img1 {
  max-width: 40rem;
  padding: 0.5rem;
}
.landingPage_Img2 {
  max-width: 30rem;
  max-height: 20rem;
  padding: 0.5rem;
}
.textBox {
  text-align: center;
  font-size: 1.7rem;
  border: 0.1rem solid black;
  max-width: 40rem;
}
.textBox:hover {
  margin-top: 2rem;
  transform: scale(0.8);
  color: var(--background-color);
  background-color: var(--primary-color);
  transition: all ease 500ms;
  cursor: default;
}
.homeFooter {
  background: var(--footer-color);
  padding: 0.2rem;
  height: 50px;
  border-radius: 0.5rem;
  box-shadow: 2px -2px 2px 1px grey;
  flex: 0 0 auto;
}
.footerContent {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.footerLinks {
  display: flex;
  padding: 2rem;
  opacity: 1.0;
  text-decoration: none;
  font-size: 1.5rem;
}
.footerLinks:hover {
  transform: scale(1.2);
  color: var(--secondary-color);
}
.footerLinks img {
  width: 25px;
}
