<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Aurobindo Gupta" />
    <meta name="description" content="Component library content - Input " />
    <link rel="stylesheet" href="/rootStyles.css" />
    <link rel="stylesheet" href="styles.css" />
    <title>Input</title>
  </head>
  <body>
    <div class="componentInput pd-1 mg-1">
      <!-- standard Input -->
      <div class="input-form">
        <p class="input-label">Name</p>
        <input type="text" placeholder="Jhon Doe" class="input-space" />
      </div>
      <!-- input required -->
      <div class="input-form">
        <p class="input-label">Email*</p>
        <div class="input-with-error">
          <input type="email" placeholder="" class="input-space input-error" />
          <p class="error-msg">Error Message!!</p>
        </div>
      </div>
      <!-- input TextBox  -->
      <div class="input-form textbox">
        <p class="input-label">Enter Text</p>
        <textarea
          type="text"
          placeholder="Enter text here....."
          class="input-space textbox"
          rows="3"
          cols="1"
        ></textarea>
      </div>
      <!-- imput form with validation -->
      <div class="form-container">
        <div class="input-form full-form">
          <label class="input-label" for="input-name">Name</label>
          <input type="text" required placeholder="Jhon Doe" class="input-space full-form input-name"  id="input-name"  
          oninvalid="this.setCustomValidity('Enter User Name Here')" onchange="this.setCustomValidity('')" type="text"/>
          <label class="input-label" for="input-number">Number</label>
          <input type="tel" pattern="[-+]?[0-9]" placeholder="1234567890" maxlength="10" class="input-space full-form input-number"  id="input-name" required/>
          <label class="input-label" for="input-email">Name</label>
          <input type="email" placeholder="jhondoe@gmail.com" class="input-space full-form input-email"  id="input-name" required/>
          <label class="input-label" for="input-submit"></label>
          <input type="submit" class="input-space full-form input-submit"  id="input-submit" value="Submit"/>
        </div>
      
    </div>
  </body>
</html>
