<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Aurobindo Gupta" />
    <meta name="description" content="Component library content - Avatar " />
    <link rel="stylesheet" href="styles.css" />
    <title>Avatar</title>
  </head>
  <body>
    <div class="componentAvatar pd-1 mg-1">
      <!-- standard avatar square -->
      <div class="group basic mg-1">
        <img class="avatar" src="../../Utils/images/avatar.png" alt="Avatar" />
        <img class="avatar" src="../../Utils/images/avatar2.png" alt="Avatar" />
        <img class="avatar" src="../../Utils/images/avatar3.png" alt="Avatar" />
      </div>
      <!-- small avatar square -->
      <div class=" group small mg-1">
        <img class="avatar avatar-S" src="../../Utils/images/avatar.png" alt="Avatar" />
        <img class="avatar avatar-S" src="../../Utils/images/avatar2.png" alt="Avatar" />
        <img class="avatar avatar-S" src="../../Utils/images/avatar3.png" alt="Avatar" />
      </div>
      <!-- extra small avatar square -->
      <div class=" group extraSmall mg-1">
        <img class="avatar avatar-XS" src="../../Utils/images/avatar.png" alt="Avatar" />
        <img class="avatar avatar-XS" src="../../Utils/images/avatar2.png" alt="Avatar" />
        <img class="avatar avatar-XS" src="../../Utils/images/avatar3.png" alt="Avatar" />
      </div>
      <!-- large avatar square -->
      <div class=" group large mg-1">
        <img class="avatar avatar-L" src="../../Utils/images/avatar.png" alt="Avatar" />
        <img class="avatar avatar-L" src="../../Utils/images/avatar2.png" alt="Avatar" />
        <img class="avatar avatar-L" src="../../Utils/images/avatar3.png" alt="Avatar" />
      </div>
      <!-- large avatar round -->
      <div class=" group large mg-1">
        <img class="avatar avatar-L avatar-R" src="../../Utils/images/avatar.png" alt="Avatar" />
        <img class="avatar avatar-L avatar-R" src="../../Utils/images/avatar2.png" alt="Avatar" />
        <img class="avatar avatar-L avatar-R" src="../../Utils/images/avatar3.png" alt="Avatar" />
      </div>
      <!-- extraSmall avatar round -->
      <div class=" group extraSmall mg-1">
        <img class="avatar avatar-XS avatar-R" src="../../Utils/images/avatar.png" alt="Avatar" />
        <img class="avatar avatar-XS avatar-R" src="../../Utils/images/avatar2.png" alt="Avatar" />
        <img class="avatar avatar-XS avatar-R" src="../../Utils/images/avatar3.png" alt="Avatar" />
      </div>
      <!-- small avatar round -->
      <div class=" group small mg-1">
        <img class="avatar avatar-S avatar-R" src="../../Utils/images/avatar.png" alt="Avatar" />
        <img class="avatar avatar-S avatar-R" src="../../Utils/images/avatar2.png" alt="Avatar" />
        <img class="avatar avatar-S avatar-R" src="../../Utils/images/avatar3.png" alt="Avatar" />
      </div>
      <!-- standard avatar round -->
      <div class="group basic mg-1">
        <img class="avatar avatar-R" src="../../Utils/images/avatar.png" alt="Avatar" />
        <img class="avatar avatar-R" src="../../Utils/images/avatar2.png" alt="Avatar" />
        <img class="avatar avatar-R" src="../../Utils/images/avatar3.png" alt="Avatar" />
      </div>
      <img class="avatar avatar-L" src="../../Utils/images/avatar3.png" alt="Avatar" />
    </div>
  </body>
</html>
