<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Aurobindo Gupta" />
    <meta name="description" content="Component library content-with badge " />
    <link rel="stylesheet" href="/rootStyles.css" />
    <link rel="stylesheet" href="../../avatar/styles.css" />
    <link rel="stylesheet" href="badgeOnAvatar.css" />
    <title>Avatar with badge</title>
  </head>
  <body>
    <div class="componentAvatarBadge pd-1 mg-1">
      <!-- standard square avatar badge -->
      <div class="group basic mg-1">
        <div class="avatarBadgeContainer">
          <img class="avatar" src="/Utils/images/avatar.webp" alt="Avatar" />
          <div class="badgeOnline"></div>
        </div>
        <div class="avatarBadgeContainer">
          <img class="avatar" src="/Utils/images/avatar2.webp" alt="Avatar" />
          <div class="badgeOnline"></div>
        </div>
        <div class="avatarBadgeContainer">
          <img class="avatar" src="/Utils/images/avatar3.webp" alt="Avatar" />
          <div class="badgeOnline"></div>
        </div>
      </div>
      <!-- small square avatar badge -->
      <div class="group small mg-1">
        <div class="avatarBadgeContainer">
          <img
            class="avatar avatar-S"
            src="/Utils/images/avatar.webp"
            alt="Avatar"
          />
          <div class="badgeOnline badge-S"></div>
        </div>
        <div class="avatarBadgeContainer">
          <img
            class="avatar avatar-S"
            src="/Utils/images/avatar2.webp"
            alt="Avatar"
          />
          <div class="badgeOnline badge-S"></div>
        </div>
        <div class="avatarBadgeContainer">
          <img
            class="avatar avatar-S"
            src="/Utils/images/avatar3.webp"
            alt="Avatar"
          />
          <div class="badgeOnline badge-S"></div>
        </div>
      </div>
      <!-- extraSmall square avatar badge -->
      <div class="group extraSmall mg-1">
        <div class="avatarBadgeContainer">
          <img
            class="avatar avatar-XS"
            src="/Utils/images/avatar.webp"
            alt="Avatar"
          />
          <div class="badgeOnline badge-XS"></div>
        </div>
        <div class="avatarBadgeContainer">
          <img
            class="avatar avatar-XS"
            src="/Utils/images/avatar2.webp"
            alt="Avatar"
          />
          <div class="badgeOnline badge-XS"></div>
        </div>
        <div class="avatarBadgeContainer">
          <img
            class="avatar avatar-XS"
            src="/Utils/images/avatar3.webp"
            alt="Avatar"
          />
          <div class="badgeOnline badge-XS"></div>
        </div>
      </div>
      <!-- large square avatar badge -->
      <div class="group large mg-1">
        <div class="avatarBadgeContainer">
          <img
            class="avatar avatar-L"
            src="/Utils/images/avatar.webp"
            alt="Avatar"
          />
          <div class="badgeOnline badge-L"></div>
        </div>
        <div class="avatarBadgeContainer">
          <img
            class="avatar avatar-L"
            src="/Utils/images/avatar2.webp"
            alt="Avatar"
          />
          <div class="badgeOnline badge-L"></div>
        </div>
        <div class="avatarBadgeContainer">
          <img
            class="avatar avatar-L"
            src="/Utils/images/avatar3.webp"
            alt="Avatar"
          />
          <div class="badgeOnline badge-L"></div>
        </div>
      </div>
      <!-- large round avatar badge -->
      <div class="group large mg-1">
        <div class="avatarBadgeContainer">
          <img
            class="avatar avatar-L avatar-R"
            src="/Utils/images/avatar.webp"
            alt="Avatar"
          />
          <div class="badgeOnline badge-RL"></div>
        </div>
        <div class="avatarBadgeContainer">
          <img
            class="avatar avatar-L  avatar-R"
            src="/Utils/images/avatar2.webp"
            alt="Avatar"
          />
          <div class="badgeOnline badge-RL"></div>
        </div>
        <div class="avatarBadgeContainer">
          <img
            class="avatar avatar-L  avatar-R"
            src="/Utils/images/avatar3.webp"
            alt="Avatar"
          />
          <div class="badgeOffline badge-RL"></div>
        </div>
      </div>
      <!-- extraSmall round avatar badge -->
      <div class="group extraSmall mg-1">
        <div class="avatarBadgeContainer">
          <img
            class="avatar avatar-XS  avatar-R"
            src="/Utils/images/avatar.webp"
            alt="Avatar"
          />
          <div class="badgeOnline badge-RXS"></div>
        </div>
        <div class="avatarBadgeContainer">
          <img
            class="avatar avatar-XS  avatar-R"
            src="/Utils/images/avatar2.webp"
            alt="Avatar"
          />
          <div class="badgeOnline badge-RXS"></div>
        </div>
        <div class="avatarBadgeContainer">
          <img
            class="avatar avatar-XS avatar-R"
            src="/Utils/images/avatar3.webp"
            alt="Avatar"
          />
          <div class="badgeOffline badge-RXS"></div>
        </div>
      </div>
      <!-- small round avatar badge -->
      <div class="group small mg-1">
        <div class="avatarBadgeContainer">
          <img
            class="avatar avatar-S avatar-R"
            src="/Utils/images/avatar3.webp"
            alt="Avatar"
          />
          <div class="badgeOnline badge-RS"></div>
        </div>
        <div class="avatarBadgeContainer">
          <img
            class="avatar avatar-S avatar-R"
            src="/Utils/images/avatar2.webp"
            alt="Avatar"
          />
          <div class="badgeOnline badge-RS"></div>
        </div>
        <div class="avatarBadgeContainer">
          <img
            class="avatar avatar-S  avatar-R"
            src="/Utils/images/avatar.webp"
            alt="Avatar"
          />
          <div class="badgeOffline badge-RS"></div>
        </div>
      </div>
      <!-- standard round avatar badge -->
      <div class="group basic mg-1">
        <div class="avatarBadgeContainer">
          <img class="avatar avatar-R" src="/Utils/images/avatar.webp" alt="Avatar" />
          <div class="badgeOnline badge-R"></div>
        </div>
        <div class="avatarBadgeContainer">
          <img class="avatar avatar-R" src="/Utils/images/avatar2.webp" alt="Avatar" />
          <div class="badgeOnline badge-R"></div>
        </div>
        <div class="avatarBadgeContainer">
          <img class="avatar avatar-R" src="/Utils/images/avatar3.webp" alt="Avatar" />
          <div class="badgeOffline badge-R"></div>
        </div>
      </div>
  </body>
</html>
