<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Aurobindo Gupta" />
    <meta name="description" content="Component library content - Badge " />
    
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/rootStyles.css" />
    <link rel="stylesheet" href="styles.css" />
    <title>Badge On Icons</title>
  </head>
  <body>
    <div class="componentIconBadge pd-1 mg-1">
      <div class="badgeIcon group">
        <div class="ic-badge Container">
          <i class="fa fa-shopping-cart ic"></i>
          <div class="iconBadge">3</div>
        </div>
        <div class="ic-badge container">
          <i class="fa fa-thumbs-up ic"></i>
          <div class="iconBadge">3</div>
        </div>
        <div class="ic-badge container">
          <i class="fa fa-inbox ic"></i>
          <div class="iconBadge">3</div>
        </div>
      </div>
      <div class="badgeButton group">
        <div>
          Like
        </div>
      </div>
    </div>
  </body>
</html>
