<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Aurobindo Gupta" />
    <meta name="description" content="Component library content - Modal " />
    <link rel="stylesheet" href="/rootStyles.css" />
    <link rel="stylesheet" href="styles.css" />
    <title>Toast</title>
  </head>
  <body>
    <div class="componentToast pd-1 mg-1">
      <div class="toast-container">
        <p class="toast-content">This is a toast</p>
        <p class="toast-closeBtn">&times;</p>
      </div>
    </div>
    <script type="text/javascript" src="script.js"></script>
  </body>
</html>
