@import url(/rootStyles.css);

.toast-container {
  display: flex;
  background: var(--primary-color);
  color: var(--background-color);
  min-width: 15rem;
  width: fit-content;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 0.5rem;
}
.toast-closeBtn {
  font-size: 1.5rem;
}
.toast-closeBtn:hover {
  transform: scale(1.5);
}
