<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Aurobindo Gupta" />
    <meta name="description" content="Component library content - List " />
    <link rel="stylesheet" href="/rootStyles.css" />
    <link rel="stylesheet" href="styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>component List</title>
  </head>
  <body>
    <div class="componentList pd-1 mg-1">
      <div class="list-container">
        <ol class="list-ordered">
          <li>List Item 1</li>
          <li>List Item 2</li>
          <li>List Item 3</li>
        </ol>
        <ol class="list-ordered reverse" reversed>
          <li>List Item 1</li>
          <li>List Item 2</li>
          <li>List Item 3</li>
        </ol>
        <ol class="list-roman">
          <li>List Item 1</li>
          <li>List Item 2</li>
          <li>List Item 3</li>
        </ol>
        <ol class="list-abc">
          <li>List Item 1</li>
          <li>List Item 2</li>
          <li>List Item 3</li>
        </ol>
      </div>
      <div class="list-container">
        <ul class="list-unordered">
          <li>List Item 1</li>
          <li>List Item 2</li>
          <li>List Item 3</li>
        </ul>
        <ul class="list-none reverse">
          <li>List Item 1</li>
          <li>List Item 2</li>
          <li>List Item 3</li>
        </ul>
        <ul class="list-circle">
          <li>List Item 1</li>
          <li>List Item 2</li>
          <li>List Item 3</li>
        </ul>
        <ul class="list-square">
          <li>List Item 1</li>
          <li>List Item 2</li>
          <li>List Item 3</li>
        </ul>
      </div>
      <div class="notification-container">
        <div class="notification-window">
          <div class="notification-header">
            <p class="notification-title">Notifications</p>
            <button class="closeBtn">
              <i class="fa fa-close icon-close"></i>
            </button>
          </div>
          <hr class="line-break"/>
          <div class="notification-content">
            <ul class="list-none">
              <li class="list-point">
                <div class="list-point-group">
                  <p class="list-point-header">Notification 1</p>
                  <p class="list-point-content">this is notification content</p>
                </div>
              </li>
              <hr class="line-break"/>
              <li class="list-point">
                <div class="list-point-group">
                  <p class="list-point-header">Notification 1</p>
                  <p class="list-point-content">this is notification content</p>
                </div>
              </li>
              <hr class="line-break"/>
              <li class="list-point">
                <div class="list-point-group">
                  <p class="list-point-header">Notification 1</p>
                  <p class="list-point-content">this is notification content</p>
                </div>
              </li>
              <hr class="line-break"/>
            </ul>
          </div>
          <div class="notification-footer">Notification Footer</div>
        </div>
      </div>
    </div>
  </body>
</html>
