.componentExample.avatar-badge {
  width: 30rem;
  height: 10rem;
  border-radius: 2rem;
}
.badgeContainer {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
  }
  .badge-set{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
  }