

.img-container {
  padding: 1rem;
}
.img-responsive.img-round {
  border: 1px solid black;
  border-radius: 50%;
}

@media screen and (min-width: 1200px) {
  .img-responsive {
    width: 100%;
  }
}
@media screen and (max-width: 1000px) {
    .img-responsive {
      width: 10rem;
    }
  }
  @media screen and (max-width: 800px) {
    .img-responsive {
      width: 5rem;
    }
  }