:root{
    /* --background-color:#DFE5EA; */
    --background-color:#FFFFFF;
    --primary-color: #041726;
    --secondary-color:#353D43;
    --themeGrey-color:#929292;
    --themeBright-color:#9d99be;
    --themeBright-hover-color:#cec9df;
    --baseRed-color:#FF0000;
    --alertGreen-color:#20c40d;
    --alertOrange-color:#f5c21d;
    --alertRed-color:#e70e0e;
    --alertBlue-color:#92e0ee;
    --btnPrimaryBlue-color:#3B82F6;
    --btnSecondaryGrey-color:#9A9A9A;
    --btnCancelRed-color:#FF3B30;
    --btnDisabledGrey-color:#C5C5C5;
    --primaryText-color:#011623;
    --secondaryText-color:#929292;
    --navbar-color:#DFE5EA;
    --footer-color:rgba(0,0,0,.0);

}
[theme="dark"]{
    --background-color:#011623;
    --primary-color: #023556;
    --secondary-color:#152733;
    --themeGrey-color:#1D2123;
    --themeBright-color:#9d99be;
    --themeBright-hover-color:#cec9df;
    --baseRed-color:#6F0000;
    --primaryText-color:#DFE5EA;
    --secondaryText-color:#929292;
}
/* color palette from https://paletton.com/ */