
.componentExample.component-modal {
  width: 30rem;
  padding: 0.2rem;
  height: 30rem;
  border-radius: 1rem;
}
.containerModal {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}
.containerModal .modal-container {
  display: block;
  position: static;
  background-color: var(--themeBright-color);
}
