
.componentExample.component-text {
  width: 80%;
  padding: 0.2rem;
  height: fit-content;
  border-radius: 1rem;
  margin: auto;
  overflow: scroll;
}
.container-text {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}

