.docsContent {
  display: flex;
  height: 100%;
  width: 100%;
}
.leftNav {
  flex-grow: 1;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  overflow: scroll;
  min-width: 12rem;
}
.mainContent {
  flex-grow: 5;
  min-width: 50%;
  overflow: scroll;
}
.rightNav {
  flex-grow: 1;
  min-width: 10rem;
}
.leftNav-btnList {
  list-style: none;
  margin: 0.5rem;
  padding: 0.5rem;
}
.rightNav-btnList {
  list-style: none;
  margin: 0.5rem;
  padding: 0.5rem;
  padding-top: 2rem;
}
.sideNav-btn {
  padding: 0.5rem;
  cursor: pointer;
}
.sideNav-btn:hover {
  transform: scale(0.98);
  background-color: var(--primary-color);
}
.sideNav-btn:hover .sideNav-btnLink {
  color: white;
}
.sideNav-btnLink {
  text-decoration: none;
}
.sideNav-btn.active {
  background-color: var(--primary-color);
  pointer-events: none;
}
.sideNav-btn.active .sideNav-btnLink {
  color: var(--themeWhite-color);
}
.rightNav-btnList .sideNav-btn:hover {
  transform: scale(1.1);
  background: none;
}
.rightNav-btnList .sideNav-btn:hover .sideNav-btnLink {
  color: var(--primary-color);
}
.componentExample {
  border: 1px solid var(--primary-color);
  width: fit-content;
  margin: 3% auto;
}
.doc-link {
  text-decoration: underline;
  color: var(--secondary-color);
  font-size: 1.1rem;
}
.doc-codeSnippet {
  width: 80%;
  height: 10rem;
  margin: 3% 10%;
  overflow: hidden;
  box-shadow: none;
  border: none;
}
.doc-codeSnippet #__next{
  min-height: 50rem;
}
.code-snippet .code-canvas{
  width: fit-content;
  background: var(--primary-color);
  color: var(--themeWhite-color);
  margin: 3% 20%;
  border-radius: 2rem;
}